@{
    ViewBag.Title = "Index";
}

<!--==========================
  Intro Section
============================-->
<section id="intro">

    <div class="intro-content">
        <h2>Доставляем <span>ваши товары</span><br>быстро!</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">О нас</a>
            <a href="#portfolio" class="btn-projects scrollto">Наши партнеры</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('../../Content/img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('../../Content/img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('../../Content/img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('../../Content/img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('../../Content/img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

<main id="main">

<!--==========================
About Section
============================-->
<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="../../Content/img/about-img.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>Мы предоставляем удобный сервис по подбору подходящего грузоперевозщика</h2>
                <h3>Благодаря нам Вы сможете быстрой подобрать, изходя из Ваших критериев, необходимую услугу.</h3>

                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> Мы сэкономим Ваши средства.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Мы гарантируем быстрый сервис.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Вы получите полный список грузоперевозщиков, которые будут выбраны изходя из Ваших требований.</li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- #about -->
<!--==========================
Services Section
============================-->
<section id="services">
    <div class="container">
        <div class="section-header">
            <h2>Услуги</h2>
            <p>Мы предоставляем услуги по подбору списка грузоперевозщиков, которые удовлетворяют требованиям заказчика. Список возможно отсортировать по цене или по времени доставки.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a href="">Сортировка</a></h4>
                    <p class="description">Сортировка возможна как по цене, так и по времени доставки.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="fa fa-picture-o"></i></div>
                    <h4 class="title"><a href="">Списки</a></h4>
                    <p class="description">Список грузоперевозщиков предоставляется изходя из ваших требований. По умолчанию он отсортирован по цене.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Критерии</a></h4>
                    <p class="description">Критериями отборки списка грузоперевозщиков являются габариты груза, максимальный вес, регион доставки.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-map"></i></div>
                    <h4 class="title"><a href="">Дополнительно</a></h4>
                    <p class="description">Наша система позволяет добавлять дополнительные опции, по вашему требованию.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->
<!--==========================
Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Наши клиенты</h2>
            <p></p>
        </div>

        <div class="owl-carousel clients-carousel">
            <img src="../../Content/img/clients/client-1.png" alt="">
            <img src="../../Content/img/clients/client-2.png" alt="">
            <img src="../../Content/img/clients/client-3.png" alt="">
            <img src="../../Content/img/clients/client-4.png" alt="">
            <img src="../../Content/img/clients/client-5.png" alt="">
            <img src="../../Content/img/clients/client-6.png" alt="">
            <img src="../../Content/img/clients/client-7.png" alt="">
            <img src="../../Content/img/clients/client-8.png" alt="">
        </div>

    </div>
</section><!-- #clients -->
<!--==========================
Our Portfolio Section
============================-->
<section id="portfolio" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Наши партнеры</h2>
            <p>На сегодняшний день мы работаем с такими партнерами, как Евроопт, Простор, Алми, Зеленый клен, Белмаркет, а также другими фирмами, которым необходима быстрая и качественная услуга по подбору грузоперевозщика.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/1.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/1.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Простор маркет</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/2.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/2.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Евроопт</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/3.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/3.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Алми</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/4.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/4.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Виталюр</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/5.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/5.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">5 элемент</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/6.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/6.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Электросила</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/7.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/7.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Белмаркет</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="../../Content/img/portfolio/8.jpg" class="portfolio-popup">
                        <img src="../../Content/img/portfolio/8.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Март Инн</h2></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- #portfolio -->
<!--==========================
Testimonials Section
============================-->
<section id="testimonials" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Отзывы пользователей</h2>
            <p>Отзывы наших клиентов о самом програмном продукте, о том на сколько им стало удобнее и быстрее подбирать грузоперевозщика и о том - сколько они сэкономили средств.</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                    <img src="../../Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Мне очень понравилась простота и удобство пользования этой системой. Сразу заметна экономия средств и потраченного времени на поиски грузоперевозщика.
                    <img src="../../Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="../../Content/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Павел Нортин</h3>
                <h4>ИП &amp; собственник</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="../../Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Очень дружественный интерфейс, плюс бесплатное пользование системой. Это не может быть плохо.
                    <img src="../../Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="../../Content/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Елена Борко</h3>
                <h4>Логист</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="../../Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Мне очень понравилась простота и удобство пользования этой системой. Сразу заметна экономия средств и потраченного времени на поиски грузоперевозщика.
                    <img src="../../Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="../../Content/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Юлия Полуронова</h3>
                <h4>Логист</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="../../Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Хорошая поддержка пользователей. Очень дружественный интерфейс, плюс бесплатное пользование системой. Это великолепно.
                    <img src="../../Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="../../Content/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Андрей Балдин</h3>
                <h4>Логист</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="../../Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Это великолепно. Хорошая поддержка пользователей. Очень дружественный интерфейс, плюс бесплатное пользование системой.
                    <img src="../../Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="../../Content/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Вова Ронин</h3>
                <h4>Нач.склада</h4>
            </div>

        </div>

    </div>
</section><!-- #testimonials -->
<!--==========================
Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Зарегистрируйтесь</h3>
                <p class="cta-text"> Зарегистрируйтесь в системе и становитесь нашими партнерами уже сегодня, чтобы завтра получать выгоду от сотрудничества.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                @Html.ActionLink("Зарегистрироваться", "Register", "Account", new { }, new { @class = "cta-btn align-middle viewDialog", data_dialog_title = "Регистрация пользователя " })
            </div>
        </div>

    </div>
</section><!-- #call-to-action -->
<!--==========================
Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Наша команда</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../Content/img/team-1.jpg" alt=""></div>
                    <div class="details">
                        <h4>Walter White</h4>
                        <span>Акционер компании</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../Content/img/team-2.jpg" alt=""></div>
                    <div class="details">
                        <h4>Елена Соколовская</h4>
                        <span>Менеджер по продажам</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../Content/img/team-3.jpg" alt=""></div>
                    <div class="details">
                        <h4>Беденко Александр</h4>
                        <span>Разработчик</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../Content/img/team-4.jpg" alt=""></div>
                    <div class="details">
                        <h4>Наталия Воронкина</h4>
                        <span>Бухгалтер</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #team -->
<!--==========================
Contact Section
============================-->
<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Свяжитесь с нами</h2>
            <p>Пришите нам по всем интересующим вас вопросам, наши менеджеры смогут дать предельно понятную консультацию.</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Адрес</h3>
                    <address>РБ, г.Минск, пр-т Дзержинского 104, оф.107</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Телефон</h3>
                    <p><a href="tel:+155895548855">+375 29 6-000-000</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                </div>
            </div>

        </div>
    </div>

    <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3140.8694306011316!2d27.47614876714234!3d53.86076503127089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd07ecbdf73c9%3A0x67599ea9237eac6c!2z0JHQpiDQotC40YLQsNC9INCx0LvQvtC6INCR!5e0!3m2!1sru!2sby!4v1534249599563" width="1920" height="290" frameborder="0" style="border:0" allowfullscreen></iframe></div>

    <div class="container">
        <div class="form">
            <div id="sendmessage">Ваше сообщение было отправлено. Спасибо!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Отправить сообщение</button></div>
            </form>
        </div>

    </div>
</section><!-- #contact -->

</main>
