<div class="container" style="margin-top: 25px;">
    <div class="error-box">
        <div class="row">
            <div class="col-md-2 text-center" style="display: flex; height: 160px;color: #428bca;">
                <span class="fa fa-exclamation-circle fa-5x" style="margin: auto; font-size: 100px"></span>

            </div>
            <div class="col-md-10">
                <h1 style="margin-bottom: 0;font-weight: 800;font-size: 50px;">404</h1>
                <h1 style="margin-bottom: 0; margin-top: 0;font-weight: 800;">Cтраница не найдена!</h1>
                <h4 style="margin-top: 20px;">При обработке вашего запроса возникла ошибка :(</h4>
            </div>
        </div>
    </div>
</div>